doctype html
html(lang="en")
	head
		title
		link(rel='stylesheet', type='text/css', href='/build/' + app.css)
		link(rel='icon', href='data:;base64,iVBORw0KGgo=')
		style(type='text/css') !{css}
	body
		div(id='app') !{html}
		script(type='text/javascript', src='/build/' + manifest.js)
		script(type='text/javascript', src='/build/' + vendor.js)
		script(type='text/javascript', src='/build/' + app.js)
